.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 500px;
    background-image:url(https://img.freepik.com/free-photo/street-chinese-food-with-copy-space_23-2148242502.jpg);
    background-size: cover;
    background-color: black;
    text-align: center;
    margin-bottom: 40px;
} 

@keyframes appear {
    from {
        opacity: 0.0;
        top: -100px;
    } 

    to {
        opacity: 1.0;
        top: 0.0;
    }
}

.banner .heading b1 {
    flex: 1;
    justify-self: center;
    font-weight: bold; 
    position: relative;
    animation: appear 10s ease-in-out 0s forwards;
} 

b7 {
  color: black;
}

.banner-container {
    position: relative;
    
  }
  
  .your-button-class {
    position:absolute;
    top: 0;
    right: 0;
    margin: auto;
    margin-right: 850px;
    margin-top: 20px;
    display: inline-block;
    background: #a71d1d;
    color: #fff;
    padding: 15px 10px;
    border-radius: 20px;
    transition: background 1s;
    border: none;
    
  }

  
  .your-button-class:hover {
    background-color: black;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .your-form-container {
    max-width: 700px;
    padding: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
  }
  
  .your-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .your-form-container .form-group {
    margin-bottom: 30px;
   
    
  }
  
  .your-form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
  }
  
  .your-form-container input {
    padding: 10px;
    border: 2px solid purple;
    border-radius: 20px;
    margin-left: 10px;
  }

  h4 {
    color: crimson;
    font-size: 30px;
    text-align: center;
  }

  
  .submit-button {
    padding: 10px 20px;
    background-color:crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
    transition: background 1s;
  
  }

  
  .submit-button:hover {
    background-color: black;
    cursor:pointer;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .remove-button {
    padding: 10px 20px;
    background-color:crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-left: 10px;
    transition: 1s;
  }

  .remove-button:hover {
    background-color: black;
    cursor: pointer;
  }
  
 

  .about-btn {
    position:absolute;
    top: 0;
    right: 0;
    margin: auto;
    margin-right: 730px;
    margin-top: 20px;
    display: inline-block;
    background: #a71d1d;
    color: #fff;
    padding: 15px 10px;
    border-radius: 20px;
    transition: background 1s;
    border: none;
}
.about-btn:hover {
    background-color: black;
    cursor: pointer;
}
  